<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <div th:replace="base::header"></div>
    <title>Show</title>
</head>
<body>
<div class="container" align="center">
    <a href="/">Show All Tasks</a><br/>
    <table class="table">
        <tr>
            <td>Name:</td>
            <td><span th:text="${task.name}"></span></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><span th:text="${task.description}"></span></td>
        </tr>
        <tr>
            <td>Priority:</td>
            <td><img th:src="${task.priority}" alt="Priority"></td>
        </tr>
        <tr>
            <td>Due Date:</td>
            <td><span th:text="${task.dueDate}"></span></td>
            <!--<span th:text="${#temporals.format(task.dueDate, 'yyyy-MM-dd')}"></span><br/>-->
        </tr>
        <tr>
            <td>Completed:</td>
            <td>
                <span th:if="${task.completed}">
                    <img src="/img/completed.png" alt = "completed">
                </span>
                <span th:unless ="${task.completed}">
                    <img src="/img/notcompleted.png" alt = "not completed">
                </span>
            <td>
        </tr>
    </table>
    <a th:href="@{/delete/{id}(id=${task.id})}">Delete this task</a>

    <h2>Remaining Tasks</h2>
    <table class="table" style="width:100%">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>completed</th>
        </tr>
        <!--enhanced for loop-->
        <tr th:each="task : ${tasks}">
            <td th:text="${task.name}"></td>
            <td th:text="${task.description}"></td>
            <td><img th:src="${task.priority}" alt="Priority"></td>
            <!--<td th:text = "${#temporals.format(task.dueDate, 'yyyy-MM-dd')}"></td>-->
            <td th:text="${task.dueDate}"></td>
            <td>
                <span th:if="${task.completed}">
                    <img src="/img/completed.png" alt = "completed">
                </span>
                <span th:unless ="${task.completed}">
                    <img src="/img/notcompleted.png" alt = "not completed">
                </span>
            </td>
        </tr>
    </table>
</div>
<br/>
<div th:replace="base::footer"></div>
</body>
</html>