<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>

    <title>Show</title>

</head>

<body>

<div class="container">
    <a href="/">Show All Tasks</a><br/>
    <table>
        <tr>
            <td>Name:</td>
            <td><span th:text="${task.name}"></span></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><span th:text="${task.description}"></span></td>
        </tr>
        <tr>
            <td>Priority:</td>
            <td><img th:src="${task.priority}" alt="Priority"></td>
        </tr>
        <tr>
            <td>Due Date:</td>
            <td><span th:text="${task.dueDate}"></span></td>
            <!--<span th:text="${#temporals.format(task.dueDate, 'yyyy-MM-dd')}"></span><br/>-->
        </tr>
        <tr>
            <td>Completed:</td>
            <td><td><img th:src="${task.completed}" alt = "Completed" th:text = "Completed">
                <!--<span th:text="${task.completed}"></span>-->
            </td>
        </tr>
    </table>
    <a th:href="@{/delete/{id}(id=${task.id})}">Delete this task</a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>