<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="base::header"></div>
    <title>List</title>

</head>
<body>
<div class="container" align="center">
    <div th:replace="base::navlinks"></div>
    <h2>To Do List</h2><br/>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>completed</th>
        </tr>
        <!--enhanced for loop-->
        <tr th:each="task : ${tasks}">
            <td th:text="${task.name}"></td>
            <td>
                <a th:href="@{/detail/{id}(id=${task.id})}">[[${task.description}]]</a>
            </td>
            <td><img th:src="${task.priority}" alt="Priority"></td>
            <!--<td th:text = "${#temporals.format(task.dueDate, 'yyyy-MM-dd')}"></td>-->
            <td th:text="${task.dueDate}"></td>
            <td>
                <span th:if="${task.completed}">
                    <img src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_30,r_50,w_30/v1551473204/java-bootcamp/completed.png" alt = "completed">
                </span>
                <span th:unless ="${task.completed}">
                    <img src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_30,r_50,w_30/v1551473204/java-bootcamp/notcompleted.png" alt = "not completed">
                </span>
            </td>
            <td>
                <a th:href="@{/update/{id}(id=${task.id})}">Update</a>-<!-- Update -->
                <a th:href="@{/delete/{id}(id=${task.id})}">Delete</a><!-- Delete -->
            </td>
        </tr>
    </table>
</div>
<br/>
<div th:replace="base::footer"></div>
</body>
</html>